<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.bestsamcn.blog.dao.AdminMapper">
    <select id="findUserById" parameterType="int"  resultType="me.bestsamcn.blog.models.Admin">
        SELECT * FROM public.t_user WHERE id = #{value}
    </select>
</mapper>
